{% %}

<h1>Signup</h1>

<form>
    <label for="username">User name:</label>
    <input type="text" name="username" id="username">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <label for="verifypassword">Verify Password:</label>
    <input type="password" name="verifypassword" id="verifypassword">

    <label for="email">Email(Optional):</label>
    <input type="text" name="email" id="email">

    <input type="submit" value="Submit">

</form>

{% %}